@media(max-width:75em) {
  .logo-icon {
    width: 70%;
  }

  .add-container {
    column-gap: 1.2rem;
    padding: 0.8rem 1.6rem;
  }


  .add-icon {
    width: 1.8rem;
    height: 1.8rem;
  }


  .nav {
    font-size: 1.6rem;
  }
}


@media(max-width:62.5em) {
  .left-container {
    padding: 1.8rem 2.4rem;
  }
}


@media(max-width:56.25em) {
  html {
    font-size: 9px;
  }

  .num {
    font-size: 1.4rem;
    padding-right: 0.8rem;
  }

  .flag-cont {
    gap: 0.4rem;
  }

  .form-cont input {
    font-size: 1.4rem;
  }
}



@media(max-width:45em) {
  html {
    font-size: 8px;
  }

  .nav {
    margin-top: 2.4rem;
  }

  .logo-icon {
    width: 90%;
  }
}




@media(max-width:41.25em) {
  .form h3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-header {
    padding-bottom: 0;
  }

  .form {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
    font-size: 1.6rem;
  }

  .form button {
    padding: 0 4.6rem;
  }

  .main-container {
    flex-direction: column;
    align-items: center;

  }

  .left-container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 3.6rem;
  }

  .right-container {
    width: 100%;
  }

  .logo-icon {
    width: 6.4rem;
  }

  .nav {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }

  .secondary-header {
    padding: 1.8rem;
  }

  .secondary-heading {
    font-size: 2.2rem;
  }

  .example {
    display: none;
  }

}



@media(max-width:31.25em) {
  .form input {
    font-size: 1.2rem;
  }

  .num {
    padding-left: 0.4rem;
    font-size: 1rem;
  }

  .form button {
    height: 3.6rem;
  }

  .left-container {
    position: relative;
  }

  .person {
    grid-template-columns: 9fr 1fr;
  }

  .nav {
    font-size: 1.4rem;
  }

  .item4 {
    grid-row: 1/4;
    grid-column: 2 /3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
  }

  .item {
    font-size: 1.6rem;
    padding-left: 2.4rem;
  }

  .item3 {
    padding-bottom: 2.4rem;

  }

  .item1 {
    padding-top: 2.4rem;
  }

  .add-container p {
    display: none;
  }

  .add-container {
    background-color: #fff;
    border: none;
  }

  .add-icon {
    color: #437f97;
    width: 2.4rem;
    height: 2.4rem;
  }

  .add-container:hover,
  .add-container:active {
    background-color: #437f97;
    color: #fff;
  }



  .nav {
    padding: 2.4rem;
    background-color: #437f97;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    right: 0%;
    z-index: -5;
    transition: all 0.4s;
  }

  .drop-icons {
    color: #fff;
    display: block;
  }

  .drop-icons ion-icon {
    width: 3.6rem;
    height: 3.6rem;
  }



}