* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    z-index: -3;
}

.container {
    width: 90%;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.nav a {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 0.3s;
}

.nav a:hover {
    font-size: 2.2rem;
}

.a-link {
    display: flex;
    gap: 2.5rem;
    cursor: pointer;
    align-items: center;
}

hr {
    margin-top: 2.4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 1.2rem 4.6rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: #10C98F;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-right: 5rem;
    font-weight: 700;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.article-block {
    font-weight: 400;
    width: 40%;
}

.text {
    font-size: 3.8rem;
}

.first-line {
    color: #9DCFBF;
}

.second-line {
    color: #6EC7AB;
}

.third-line {
    color: #10C98F;
}

.lorem-text {
    font-size: 1.8rem;
    margin-top: 2rem;
    color: #5F5B5B;
}

.students-icons {
    display: flex;
    gap: 2rem;

    /* margin-bottom: 20rem; */
    align-items: flex-start;
    position: relative;
}

.students-icons img {
    width: 300px;
    background-position: center;
    border-radius: 10px;
}

.first-student-icon {
    display: inline-block;
    align-self: flex-end;
}

.happy-students-icon {
    display: flex;
    align-self: flex-start;
}

.courses {
    width: 40%;
    background-color: #2A2D34;
    position: absolute;
    border-radius: 10px;
    color: #fff;
    font-size: 1.6rem;
    z-index: 1;
    left: 40%;
    top: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 1.5rem;
}

.check-icon {
    width: 2rem;
    height: 2rem;
    --ionicon-stroke-width: 64px;
}

.courses p {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    line-height: 2.1;
}

.passwd-child {
    display: grid;
    grid-template-columns: 1fr 12%;
    width: 100%;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid rgba(86, 115, 127, 0.7);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    font-size: 1.6rem;
}

.eye-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 2rem;
    color: #162F39;
}

.none {
    display: none;
}

.form2 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    height: max-content;
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    opacity: 1;
    transition: all 0.5s;
    border: 1px solid rgb(122, 122, 122);
}

.form2 input {
    width: 100%;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    padding: 1.2rem;
    border: 1px solid rgba(86, 115, 127, 0.7);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    font-size: 1.6rem;
}

.passwd-child input {
    width: 100%;
    margin-top: 0;
    border-radius: 0.5rem;
    padding: 1.2rem;
    border: none;
}

.delete-icon {
    width: 3rem;
    height: 3rem;
    --ionicon-stroke-width: 64px;
    color: #000;
}

.close-div {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.btn-sub-cansel {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.7px;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    background-color: #10C98F;
    color: #fff;
}

.btn-cancel {
    background-color: #fff;
    border: 1px solid rgb(122, 122, 122);
    color: #000;
}

.opacity {
    opacity: 0;
    z-index: -8;
}

.blur {
    filter: blur(0.7rem);
}